main {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  max-width: 400px;
}
hr {
  margin: 1.5rem 0 1rem 0;
  border-width: 1px;
}
section {
  width: 100%;
  margin: auto;
}
.imageListing {
  height: 185.4px;
  width: 300px;
  border-radius: 0.125rem;
  object-fit: contain;
}
.titleAndDescription {
}
.titleListing {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.spanID {
  font-weight: 300;
  color: rgb(107 114 128);
  font-size: 0.75rem;
  line-height: 1rem;
}
.description {
  font-size: 0.75rem;
}
.top {
  font-weight: 700;
}
.under {
  font-weight: 300;
  color: rgb(107 114 128);
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 1rem;
}
.addBid {
  text-align: center;
}
.btnMinus {
  vertical-align: middle;
}
#inputBid {
  margin: 10px;
  padding: 5px;
  border: 0.5px solid gray;
  border-radius: 0.125rem;
}
.btnPlus {
  vertical-align: middle;
}
.sendBid {
  text-align: center;
}
.btnSendBid {
  border-radius: 0.125rem;
  background-color: rgb(20 184 166);
  padding: 5px;
  width: 241px;
}
.bidsH3 {
  font-weight: 600;
  color: rgb(107 114 128);
  margin-bottom: 2px;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  max-width: 450px;
}
.bidUsername {
  padding: 3px;
  width: 50%;
}
.bidCreated {
  padding: 3px;
  width: 20%;
}
.bidAmount {
  padding: 3px;
  width: 30%;
  text-align: right;
}
