.card {
  background-color: pink;
  width: 300px;
  margin: 2rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  object-fit: contain;
  border-radius: 0.125rem;
}
.cardTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 0.125rem;
}
.countdown {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 0.25rem 0.5rem;
  border-radius: 0.125rem;
  opacity: 70%;
  margin: 0.25rem;
}
.countdownBox {
  display: flex;
}
.timestamp {
  font-size: 0.75rem;
  margin-left: 0.25rem;
}
.clockIcon {
  display: flex;
  align-items: center;
}
.imageBox {
  /* golden ratio: */
  height: 185.4px;
  width: 300px;
  border-radius: 0.125rem;
}
.image {
  display: block;
  margin: auto;
  max-height: 185px;
  max-width: 300px;
  object-fit: contain;
}

.cardBottom {
  background-color: #9c67eb; /* purple */
  padding: 1rem;
}
.title-container {
  max-height: 3em;
  overflow: hidden;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* 
.title-container {
  max-width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
 */
